body {
    width: 100%;

    margin: 0;

    background: var(--site-background-color);
}

#container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: [top] 5rem auto;
    grid-template-areas:
    "head"
    "body";
}

#header {
    grid-area: head;

    padding-left: 1.0rem;
    padding-right: 1.0rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

    background: var(--header-background-color);
    color: var(--text-color);
}

#headerTitle {
    color: var(--text-color);
    text-decoration: none;
}

.headerNavButton {
    margin-right: 1rem;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;

    font-size: xx-large;

    background: none;
    color: var(--text-color);
}

.headerNavButton:hover {
    cursor: pointer;

    outline: 2px solid var(--header-navbutton-outline-color);
}

#searchComponent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#searchComponent:focus-within {     /* Create outline for searchbar, including the button */
    border-top-left-radius: 20px;       /* Change the border to match the border shape of searchBar and button */
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    outline: 0.15rem solid var(--focus-color-2);
}

.headerSearchbar {
    width: 85%;
    height: 1.9rem;

    padding-left: 1rem;

    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: none;

    font-size: large;

    color: var(--text-color);
    background: var(--searchbar-background-color);
}

.headerSearchbar:focus {
    outline: none;      /* Disable standart outline -> outline is created by parent */
}

#searchButton {
    width: 15%;
    height: 2.02rem;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: none;

    color: var(--text-color);
    background: var(--button-color-1);
}

#searchButton:hover {
    cursor: pointer;

    background: var(--button-color-focus-1);
}

#searchButton:active {
    background: var(--button-color-active-1);
}

.headermiddle {
    width: 50%;

    margin-left: auto;
    margin-right: auto;
}

#mainbody {
    grid-area: body;
   
}

#homePage {
    width: 95%;
}

#homePageHeader {
    width: fit-content;

    margin-left: 2rem;
}

#categoryPreviews {
    width: 95%;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

.categoryPreview {
    margin-bottom: 2rem;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid var(--panel-background-border-1);

    background: var(--panel-background-1);
}

.categoryHeader {
    margin: 0;
    padding: 1rem;
}

.categoryItemHeader {
    margin: 0;
    padding: 0;
}

.categoryItems {
    max-width: 100vw;

    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    overflow: auto;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    border: 2px solid var(--panel-outline-color-1);
}

.categoryItem {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border: 1px solid var(--panel-background-border-3);
    background: var(--panel-background-4);
}


#GamePageHeader {
    text-decoration: underline;
}

#GamePageCover {
    height: auto;
    width: 25%;
}

:root {
    /* General */
    --site-background-color: rgb(228, 228, 228);
    --text-color: black;
    --overlay-color: rgba(160, 160, 160, 0.5);
    --dropdown-background-color: white;

    /* Focus */
    --focus-color: #C7511F;
    --focus-color-2: #c7621fd2;

    /* Buttons */
    --button-color-1: rgb(175, 175, 175);
    --button-color-2: rgb(195, 195, 195);
    --button-color-3: rgb(155, 155, 155);
    --button-color-4: rgb(120, 120, 120);

    --button-color-focus-1: rgb(150, 150, 150);
    --button-color-focus-2: rgb(175, 175, 175);
    --button-color-focus-3: rgb(140, 140, 140);
    --button-color-focus-4: rgb(110, 110, 110);

    --button-color-active-1: rgb(125, 125, 125);
    --button-color-active-2: rgb(155, 155, 155);
    --button-color-active-3: rgb(120, 120, 120);
    --button-color-active-4: rgb(95, 95, 95);

    /* Panels */
    --panel-background-1: rgb(170, 170, 170);
    --panel-background-2: rgb(210, 210, 210);
    --panel-background-3: rgb(190, 190, 190);
    --panel-background-4: rgb(140, 140, 140);

    --panel-background-border-1: rgb(130, 130, 130);
    --panel-background-border-2: rgba(170, 170, 170, 0.7);
    --panel-background-border-3: rgb(110, 110, 110);

    --panel-outline-color-1: black;

    /* Seperators */
    --seperator-color-1: rgb(146, 146, 146);
    --seperator-color-2: black;

    /* Images */
    --image-background-color: rgb(236, 236, 236);

    /* Header */
    --header-background-color: rgb(95, 95, 95);
    --searchbar-background-color: rgb(216, 216, 216);
    --header-navbutton-outline-color: rgb(117, 117, 117);
}

.dark-mode {
    /* General */
    --site-background-color: rgb(125, 125, 125);
    --text-color: rgb(12, 12, 12);
    --dropdown-background-color: rgb(211, 211, 211);

    /* Focus */
    --focus-color: #a54319;
    --focus-color-2: #a04f19d2;

    /* Buttons */
    --button-color-1: rgb(140, 140, 140);
    --button-color-2: rgb(160, 160, 160);
    --button-color-3: rgb(120, 120, 120);
    --button-color-4: rgb(85, 85, 85);

    --button-color-focus-1: rgb(115, 115, 115);
    --button-color-focus-2: rgb(140, 140, 140);
    --button-color-focus-3: rgb(105, 105, 105);
    --button-color-focus-4: rgb(75, 75, 75);

    --button-color-active-1: rgb(90, 90, 90);
    --button-color-active-2: rgb(120, 120, 120);
    --button-color-active-3: rgb(85, 85, 85);
    --button-color-active-4: rgb(60, 60, 60);
    
    /* Panels */
    --panel-background-1: rgb(135, 135, 135);
    --panel-background-2: rgb(175, 175, 175);
    --panel-background-3: rgb(155, 155, 155);
    --panel-background-4: rgb(105, 105, 105);

    --panel-background-border-1: rgb(62, 62, 62);
    --panel-background-border-2: rgba(135, 135, 135, 0.7);
    --panel-background-border-3: rgb(75, 75, 75);

    --panel-outline-color-1: black;

    /* Seperators */
    --seperator-color-1: rgb(87, 87, 87);
    --seperator-color-2: black;

    /* Images */
    --image-background-color: rgb(200, 200, 200);

    /* Header */
    --header-background-color: rgb(60, 60, 60);
    --searchbar-background-color: rgb(162, 162, 162);
    --header-navbutton-outline-color: rgb(82, 82, 82);
}